<div class="control-panel">
    <mat-toolbar color="primary">
        <mat-button-toggle-group multiple="true" name="lightSelect" aria-label="Select Lights">
            <mat-button-toggle value="play2" (change)="selectLights('play2')">Play 2</mat-button-toggle>
            <mat-button-toggle value="play3" (change)="selectLights('play3')">Play 3</mat-button-toggle>
        </mat-button-toggle-group>
    </mat-toolbar>
    <div>
      <app-light-buttons></app-light-buttons>
    </div>
    <div>
      <app-static-info-footer></app-static-info-footer>
    </div>
</div>
