<div class="example-label">On / Off</div>
<div class="example-button-row">
  <mat-slide-toggle [(ngModel)]="lightStates[0].on" (change)="turnLight(lightStates[0])">
    Play 2
  </mat-slide-toggle>
  <mat-slider
    [max]="sliderConfig.max"
    [min]="sliderConfig.min"
    [step]="sliderConfig.step"
    [thumbLabel]="sliderConfig.label"
    [(ngModel)]="lightStates[0].bri"
    (change)="setBrightness('play2')">
  </mat-slider>
</div>
<div class="example-button-row">
  <mat-slide-toggle [(ngModel)]="lightStates[1].on" (change)="turnLight(lightStates[1])">
    Play 3
  </mat-slide-toggle>
  <mat-slider
    [max]="sliderConfig.max"
    [min]="sliderConfig.min"
    [step]="sliderConfig.step"
    [thumbLabel]="sliderConfig.label"
    [(ngModel)]="lightStates[1].bri"
    (change)="setBrightness('play3')">
  </mat-slider>
</div>
<div class="example-label">Focus</div>
<div class="example-button-row">
  <button mat-raised-button (click)="setLightForFocus('play2')">Play 2</button>
  <button mat-raised-button (click)="setLightForFocus('play3')">Play 3</button>
</div>
<div class="example-label">Energy</div>
<div class="example-button-row">
  <button mat-raised-button (click)="setLightForEnergy('play2')">Play 2</button>
  <button mat-raised-button (click)="setLightForEnergy('play3')">Play 3</button>
</div>
<div class="example-label">Reading</div>
<div class="example-button-row">
  <button mat-raised-button (click)="setLightForReading('play2')">Play 2</button>
  <button mat-raised-button (click)="setLightForReading('play3')">Play 3</button>
</div>
